<div class="cart-container">
    <mat-card>
        <mat-card-title>Mon panier</mat-card-title>
        <mat-card-subtitle>Récapitulatif</mat-card-subtitle>
        <div class="empty-cart">
            <img src="./assets/img/empty-cart.png" alt="">
            <div class="cart-text">Vous n'avez pas encore décidé quel livre acheter ?</div>
            <div class="cart-accroche">Choisir de livre maintenant</div>
            <a routerLink="/books" mat-raised-button class="buy-btn">Acheter maintenant</a>
        </div>
    </mat-card>
</div>
