<div class="book-wrapper">
    <div class="book-container">
        <div class="book-intro">
            <div class="pre-title">Découvrez le monde merveilleux d'Harry Potter et ses aventures</div>
            <div class="title">Nos livres</div>
            <div class="accroche">Le premier livre de Harry Potter, Harry Potter et la pierre philosophale, a été publié par Bloomsbury en 1997 et a immédiatement été acclamé par le public et la critique. Six autres best-sellers, trois livres d'accompagnement, un scénario et deux scénarios ont suivi depuis. Les livres Harry Potter ont été traduits dans plus de 80 langues, ont remporté de nombreux prix et se sont vendus à plus de 500 millions d'exemplaires dans le monde, devenant ainsi la série de livres la plus vendue de l'histoire...</div>
        </div>
        <div class="book-list">
            <div class="book-item" *ngFor = "let book of books">        
                <div class="book-infos">
                    <div class="book-cover"><img src="{{ book.cover }}" alt="{{ book.title }}"></div>
                    <div class="book-title">{{ book.title }}</div> 
                    <div class="book-desc">{{ book.synospis }}</div> 
                    <div class="book-bottom">
                        <div class="book-price">{{ book.price }}€</div> 
                        <a mat-raised-button color="accent"><mat-icon>shopping_cart</mat-icon></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>